
<div class="text-center">
    <h1 class="display-4">Welcome To BookStore</h1>



    <h3>Günün İndirimli Kitapları </h3>
    <p>
        Bugünün Tarihi :<strong> @DateTime.Today.ToShortDateString() </strong>
    </p>
    </br>
    </br>
    </br>

    <img src="https://tr.pinterest.com/pin/30117891242775423/" alt="Momo kitap kapağı">
    <h5>Momo</h5>
    <p> Yazarı : <strong>Michael Ende</strong></p>
    <p> Fiyatı : <strong> 65 </strong></p>
    <p> Sayfa Sayısı : <strong> 304 </strong></p>
</div>


<div class="text-left">

    <img src="https://tr.pinterest.com/pin/30117891242775423/" alt="">
    <h5>Martı</h5>
    <p> Yazarı : <strong>Richard Bach</strong></p>
    <p> Fiyatı : <strong> 69 </strong></p>
    <p> Sayfa Sayısı : <strong> 321 </strong></p>
</div>

</br>


<div class="text-right">

    <img src="https://tr.pinterest.com/pin/30117891242775423/" alt="">
    <h5>Denizkızı Eftalya</h5>
    <p> Yazarı : <strong>Bilen Işıktaş</strong></p>
    <p> Fiyatı : <strong> 80 </strong></p>
    <p> Sayfa Sayısı : <strong> 168 </strong></p>
</div>